ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.taskbar{
  text-align:center;
  display: inline-grid;
  grid-template-columns: [first] auto [line2] auto [line3] auto;
  grid-template-rows: [row1-start] auto;
}

#home{
  grid-column-start: first;
  grid-column-end: 2;
  grid-row: row1-start;
}

#cal{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: row1-start;
}

#prof{
  grid-column: 3;
  grid-row: row1-start;
}
.button {
    border: none;
    cursor: pointer; 
    height: 50px;
    text-align:center;
  }

.add {
    height: 18px;
    margin-right: 20px;
    text-align:right;
  }

.vector {
    height: 18px;
    text-align:right;
  }

.back {
  height: 13px;
  margin-left: 8px;
}

.newReminder {
  height: 13px;
  text-align:right;
  margin-right: 8px;
}

